---
layout: default
title: About
---


          <div class="row header">
            
            <div class="col-lg-2 col-md-2 col-sm-3 ">
  
            {% include sidebar.html %}
              
            </div>
          
            <div class="col-lg-7 col-md-7 col-sm-7 content">
              <div class="text">
                {% for post in site.posts %}
                  {% if post.title == 'Perfume' %}
                      <h4>{{ post.title }}</h4>
                      {{ post.content }}
                  {% endif %}
                {% endfor %}
              </div>
            </div>

          </div>
          


         <script type="text/javascript">

         var video = [
			    '/assets/vid/kode9.mp4',
			    '/assets/vid/ben.mp4',
			    '/assets/vid/tim.mp4'
			];

		var rand = video[Math.floor(Math.random() * video.length)];

          $(function() {
			    var BV = new $.BigVideo();
			    BV.init();
			    BV.show(rand, {ambient:true});
			});
    
        </script>