---
layout: default
title: Ephemera
---


          <div class="row header">

          	{% include video-list.html %}
            
            <div class="col-lg-2 col-md-2">
  
       			{% include sidebar.html %}
              
           	</div>
          
            <div class="col-lg-10 col-md-10 content">
            
            </div>

          </div>




        <script type="text/javascript">

        $(function() {

            // Use Modernizr to detect for touch devices, 
            // then serve them alternate background image content
            var isTouch = Modernizr.touch;
            
            // vars for auto hiding
            var isShowingPlaylist = false;
            var isHidden = false;
            var autoHideTimer;
            var $showContentButton = $('<div class="touchscreen-show-button box">Back</div>')
            
            // initialize BigVideo
            var BV = new $.BigVideo({forceAutoplay:isTouch});
            BV.init();
            // show background image
            BV.show('/assets/img/ephemera.jpg');

            // Playlist button click starts video, enables autohiding
            $('.playlist-btn').on('click', function(e) {
                e.preventDefault();
                BV.show($(this).attr('href'));
                autoHide(true);
                isShowingPlaylist = true;
            })

            // Turn off autohiding when mouse is over the nav 
            // (not necessary for touchscreens)
            if (!isTouch) {
                $('.nav')
                    .on('mouseover', function() {
                        if (isShowingPlaylist) autoHide(false);
                    })
                    .on('mouseout', function() {
                        if (isShowingPlaylist) autoHide(true);
                    });
            } else {
                // add button to show content on touchscreen
                $('body').prepend($showContentButton);
            }

            function autoHide(enable) {
                if (enable) {
                    isHidden = true;
                    $('body').on('mousemove', function(event){
                        if (isHidden) {
                            isHidden = false;
                            $('.nav, .main').removeClass('transparent');
                        }
                        clearTimeout(autoHideTimer);
                        autoHideTimer = setTimeout(function() {
                            isHidden = true;
                            $('.nav, .main').addClass('transparent');
                        }, 1000);
                    });    
                } else {
                    clearTimeout(autoHideTimer);
                    $('body').off('mousemove');
                    $('.nav, .main').removeClass('transparent');
                }
            }
        });
    
        </script>