/* html { 
  background: url(/assets/img/ephemera.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
	background: #000;

	@media (max-width: @screen-sm-max) 
	{ background: url(/assets/img/ephemera.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;} 

}


body.perfume {
	
	
	 background: url(/assets/img/ephemera-2.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 

}

body.about {
	background: #000;
}
	

#big-video-wrap {

	@media (max-width: @screen-sm-max) { visibility: hidden; display: none; };


}


.site {position: absolute;
		padding: 40px;
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
		width: 95%;
	}

.title {
	padding: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

a {
	.transition;
	color: #f6382d;
	font-weight: 400;
}

a:hover {
	text-decoration: none;
	color: rgb(120, 120, 120);
}

.video-list {
	padding: 30px 0px;
	li {
		cursor: pointer;
		float: left;
		text-align: center;
		padding: 10px 20px;
		background: rgba(0, 0, 0, 0.15);
		margin-right: 7.5px;
		text-transform: uppercase;
		.transition;
		font-size: 11px;
		letter-spacing: 2px;
		font-weight: 400;
		&:hover {
		background: rgba(0, 0, 0, 0.55);
		}
	}

	li:last-child {
		margin-right: 0px;
	}

	a {color: #fff;
		}

}

.main-menu {
	margin-top: 60px;
	li {
		a {
			display: block;
		text-align: center;
		padding: 10px;
		background: rgba(0, 0, 0, 0.15);
		margin-bottom: 10px;
		text-transform: uppercase;
		.transition;
		font-size: 11px;
		letter-spacing: 2px;
		font-weight: 100;
		}
		a:hover {
		background: rgba(0, 0, 0, 0.55);
	}
	}

	

	a {color: #fff;
		}
}

.content {

	.text {

		margin-top: 60px;
		padding: 20px;
		background: rgba(255, 255, 255, 0.75);
		color: rgb(30, 30, 30);
		letter-spacing: 0.5px;
		line-height: 21px;
		font-weight: 200;
	}

	h4 {
		text-transform: uppercase;
		color:  rgb(30, 30, 30);
		font-weight: 100;
		margin-top: 0px;
		margin-bottom: 20px;
		letter-spacing: 2px;
		font-weight: 200;
	}
	

}