/* html { 
  background: url(/assets/img/ephemera.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
	background: #000;

	@media (max-width: @screen-sm-max) 
	{ background: url(/assets/img/ephemera.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;} 

};
	

#big-video-wrap {

	@media (max-width: @screen-sm-max) { visibility: hidden; display: none; };


}


.site {position: absolute;
		padding: 40px;
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
		width: 95%;
	}

.title {
	padding: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

a {
	.transition
}

a:hover {
	text-decoration: none;
}

.video-list {
	position: absolute;
	right: 0px;

	li {
		cursor: pointer;
		float: left;
		text-align: center;
		padding: 10px 20px;
		background: rgba(0, 0, 0, 0.15);
		margin-right: 7.5px;
		text-transform: uppercase;
		.transition;
		font-size: 11px;
		letter-spacing: 2px;
		font-weight: 400;
		&:hover {
		background: rgba(0, 0, 0, 0.55);
		}
	}

	li:last-child {
		margin-right: 0px;
	}

	a {color: #fff;
		}

}

.main-menu {
	margin-top: 60px;
	li {
		text-align: center;
		padding: 10px;
		background: rgba(0, 0, 0, 0.15);
		margin-bottom: 10px;
		text-transform: uppercase;
		.transition;
		font-size: 11px;
		letter-spacing: 2px;
		&:hover {
		background: rgba(0, 0, 0, 0.55);
	}
	}

	

	a {color: #fff;
		}
}