---
layout: default
---
<div class="col-lg-4 col-md-4 col-sm-4 ">
              <img src="/assets/img/{{ page.img[0] }}" class="img-responsive"/>
              <div class="text">
                      {{ page.textz[0] }}
              </div>
              <a href="#" class="shop-btn">
                <button type="button">Buy Online</button>
              </a>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 ">
               <img src="/assets/img/{{ page.img[1] }}" class="img-responsive"/>
               <div class="text">
                      {{ page.textz[1] }}                 
              </div>
               <a href="#" class="shop-btn">
                <button type="button">Buy Online</button>
              </a>
</div>

<div class="col-lg-4 col-md-4 col-sm-4 ">
               <img src="/assets/img/{{ page.img[2] }}" class="img-responsive"/>
               <div class="text">
                      {{ page.textz[2] }}
              </div>
              <a href="#" class="shop-btn">
                <button type="button">Buy Online</button>
              </a>
</div>



