---
layout: default
---
<div class="col-lg-4 col-md-4 col-sm-4 ">
          
          <img src="/assets/img/{{ page.img[0] }}" class="img-responsive"/>
          <div class="text">
          	{{ page.info[0] }}
          	<a href="#" class="btn">Buy Online</a>
          </div>


</div>

<div class="col-lg-4 col-md-4 col-sm-4 ">
          
          <img src="/assets/img/{{ page.img[1] }}" class="img-responsive"/>
          <div class="text">
          	{{ page.info[1] }}
          	<a href="#" class="btn">Buy Online</a>
          </div>


</div>

<div class="col-lg-4 col-md-4 col-sm-4 ">
          
          <img src="/assets/img/{{ page.img[2] }}" class="img-responsive"/>
          <div class="text">
          	{{ page.info[2] }}
          	<a href="#" class="btn">Buy Online</a>
          </div>


</div>


            
